.Related{
  display: flex;
  align-items: center;
  background:#0575A5;
  flex-direction: column;
  position: sticky; 
  top: 0; 
  height: 100vh; 
}
.Related img{
  margin-top: 30px;
  max-width: 100px;
  max-height: 100px;
}
ul{
  margin-top: 190px;
  /* background: #F9BF15; */
  color:white;
  letter-spacing: 2px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  list-style: none;
  padding-left: 0;

}
li:hover{
  cursor: pointer;
  background:#C1D354;
  transition: .4s;
  transform: scale(1.1);
}
li{
  box-shadow:5px 2px 5px rgba(0,0,0,.2);
  padding:40px 0 40px 0;
}
@media screen and (max-width: 768px)
{
  .Related{

    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    position: initial;
    height: 100%;

  }
  .Related img{
    margin: 10px 0 15px 15px;
    max-width: 70px;
    max-height: 70px;
  }
  ul{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: wrap;
  }
  li{
    padding: 10px 8px 10px 20px;
    font-size: 14px;
    margin-right: 15px;
    border-radius: 10px;
  }
}